<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
	<title>제목</title>
</head>
<body>
	<div class="wrap">
		<nav th:replace="~{fragments/side-navigation-bar}"></nav>
		<!-- content start -->
		<div class="container">
			<header th:replace="~{fragments/header}"></header>
			<div class="header">
				<h2>
					<th th:if="${isSales}">매출</th>
					<th th:unless="${isSales}">매입</th>
					계약서 등록
				</h2>
			</div>
			<div class="content">
				<form method="post" th:action="@{/contracts/form}" onsubmit="return createContract()" th:object="${form}" enctype="multipart/form-data">
					<div th:replace="~{contracts/fragments/type.html}"></div>
					<div th:replace="~{contracts/fragments/info1.html}"></div>
					<div th:replace="~{contracts/fragments/info2.html}"></div>

					<div class="section">
						<div class="subTitle02">
							<h3>고객사 담당자</h3>
							<div>
								<button type="button" class="btn btn-add" onclick="addClient()">담당자 추가</button>
							</div>
						</div>
						<div class="tbl_type02">
							<table id="forList">
							<colgroup>
								<col width="10%">
								<col width="20%">
								<col width="20%">
								<col>
								<col width="20%">
							</colgroup>
							<tr>
								<th class="center">No</th>
								<th class="center">담당자 구분</th>
								<th class="center">이름</th>
								<th class="center">이메일</th>
								<th class="center">비고</th>
							</tr>
							<tr th:each="clientInfo, stat : *{clientInfos}">
								<td class="center" th:text="${stat.index} + 1"></td>
								<td>
									<select th:field="*{clientInfos[__${stat.index}__].type}" style="width:100%;">
										<option th:each="type : *{clientInfos[__${stat.index}__].type.values}"
												th:value="${type.name}"
												th:text="${type.type}">
										</option>
									</select>
								</td>
								<td>
									<input th:field="*{clientInfos[__${stat.index}__].name}" class="inputArea" style="width: 100%;" type="text" th:value="${clientInfo.name}" placeholder="이름" />
								</td>
								<td>
									<input th:field="*{clientInfos[__${stat.index}__].email}" class="inputArea" style="width: 100%;" type="text" th:value="${clientInfo.email}" placeholder="이메일" />
								</td>
								<td>
									<input th:field="*{clientInfos[__${stat.index}__].etc}" class="inputArea" style="width: 100%;" type="text" th:value="${clientInfo.etc}" placeholder="비고" />
								</td>
							</tr>
							</table>
						</div>
					</div>

					<div class="section">
						<div class="subTitle02">
							<h3>첨부 파일</h3>
						</div>
						<div class="tbl_type02">
							<table>
							<colgroup>
								<col style="width:15%;">
								<col >
							</colgroup>
							<tr>
								<th class="center">계약서</th>
								<td>
									<input type="file" th:field="*{contractFile}" />
								</td>
							</tr>
							<tr>
								<th class="center">사업자 등록증</th>
								<td>
									<input type="file" th:field="*{businessRegistrationFile}" />
								</td>
							</tr>
							<tr>
								<th class="center">기타</th>
								<td>
									<input type="file" th:field="*{etcFile}" />
								</td>
							</tr>
							</table>
						</div>
					</div>

					<div class="section" id="aws-section">
						<div class="subTitle02">
							<h3>AWS</h3>
							<input th:field="*{awsDetail.name}" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>

					<div class="section" id="ps-section">
						<div class="subTitle02">
							<h3>PS</h3>
							<input th:field="*{psDetail.name}" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>

					<div class="section" id="ms-section">
						<div class="subTitle02">
							<h3>MS</h3>
							<input th:field="*{msDetail.name}" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>

					<div class="section" id="dp-section">
						<div class="subTitle02">
							<h3>DP</h3>
							<input th:field="*{dpDetail.name}" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>

					<div class="section" id="outsourcing-section">
						<div class="subTitle02">
							<h3>외주</h3>
							<input th:field="*{outSourcingDetail.name}" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>



					<!-- 등록 버튼 -->
					<div class="btn-wrap">
						<!--<button type="button" class="btn btn-blue">저장</button>-->
						<!--<button type="button" class="btn btn-navy">등록</button>-->
						<!--<button type="button" class="btn btn-wt">취소</button>-->
						<button type="submit" class="btn btn-navy">등록</button>
						<a th:href="@{/contracts}" class="btn btn-wt">취소</a>
					</div>
					<!-- 버튼 -->

				</form>
			</div>
			<!-- content end -->
		</div>
		<script>
          let rowIndex = 1;
          const fields = {
            type: "담당자 구분",
            name: "이름",
            email: "이메일",
            etc: "비고"
          }

          function addClient() {
            const clonedSelect = document.getElementById("clientInfos0.type")
              .cloneNode(true);
            const table = document.getElementById('forList');
            const newRow = table.insertRow(-1);

            const indexCell = newRow.insertCell(0);
            indexCell.classList.add('center');
            indexCell.textContent = rowIndex + 1;

            Object.keys(fields)
              .forEach((fieldKey, index) => {
                const cell = newRow.insertCell(index + 1);
                if (fieldKey === 'type') {
                  clonedSelect.id = `clientInfos${rowIndex}.${fieldKey}`;
                  clonedSelect.name = `clientInfos[${rowIndex}].${fieldKey}`;
                  cell.appendChild(clonedSelect);
                  return;
                }

                const input = document.createElement('input');
                input.classList.add('inputArea');
                input.style.width = '100%';
                input.type = 'text';
                input.value = '';
                input.placeholder = fields[fieldKey];
                input.id = `clientInfos${rowIndex}.${fieldKey}`;
                input.name = `clientInfos[${rowIndex}].${fieldKey}`;
                cell.appendChild(input);
              });

            rowIndex++;
          }
		</script>

		<script>
          $(function () {
            $('#datePickerStart, #datePickerEnd')
              .datepicker();
          });

          function createContract() {
            const isCreated = confirm("계약을 등록하시겠습니까?");
            if (isCreated) {
              $("input[type='radio']")
                .attr("disabled", false);
              $("select")
                .attr("disabled", false);
            }
            return isCreated;
          }
		</script>
	</div>
</body>
</html>
