<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="~{fragments/head}">
</div>
<body>
	<div class="wrap">
		<nav th:replace="~{fragments/side-navigation-bar}"></nav>
		<!-- content start -->
		<div class="container">
			<header th:replace="~{fragments/header}"></header>
			<div class="header">
				<h2>
					계약서 등록
				</h2>
			</div>
			<!--계약 유형-->
			<div class="content">
				<form method="post" th:action="@{/contracts/sales-form}" onsubmit="return updateContract()" th:object="${form}" enctype="multipart/form-data">
					<div class="subTitle02">
						<h3>매출 계약유형</h3>
					</div>
					<div class="tbl_type02">
						<table>
							<colgroup>
								<col style="width: 15%">
								<col style="width: 85%">
							</colgroup>
							<tr>
								<th>*매출 계약유형</th>
								<td>
									<div class="mz-chkbxset">
										<div class="chkbx">
											<input type="checkbox" id="Infra" name="Infra" value="Infra" onchange="toggleSectionVisibility('Infra', 'infra-section');" />
											<label for="Infra">Infra</label>
										</div>
										<div class="chkbx">
										<input type="checkbox" id="PS" name="PS" value="PS" onchange="toggleSectionVisibility('PS', 'ps-section');"/>
										<label for="PS">PS</label>
										</div>
										<div class="chkbx">
											<input type="checkbox" id="MS" name="MS" value="MS" onchange="toggleSectionVisibility('MS', 'ms-section');"/>
											<label for="MS">MS</label>
										</div>
										<div class="chkbx">
											<input type="checkbox" id="DP" name="DP" value="DP" onchange="toggleSectionVisibility('DP', 'dp-section');"/>
											<label for="DP">DP</label>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>

					<!--계약 기본정보1-->
					<div class="section">
						<div class="subTitle02">
							<h3>계약 기본정보 1</h3>
						</div>
						<div class="tbl_type02">
							<table>
								<colgroup>
									<col style="width: 25%;">
									<col style="width: 25%;">
									<col style="width: 25%;">
									<col>
								</colgroup>
								<tr>
									<th>매출 계약번호</th>
									<td>
										<input readonly type="text" class="inputArea" style="width: 100%;">
									</td>
									<th>계약날인일</th>
									<td colspan="2">
										<div class="search">
											<input type="text" class="inputDate" th:field="*{contractDate}" style="width: 100%;" />
										</div>
									</td>
								</tr>

								<tr>
									<th>매출 계약명</th>
									<td>
										<input type="text" class="inputArea" th:field="*{name}" style="width: 100%;">
									</td>
									<th>Salesforce 계약번호</th>
									<td colspan="5">
										<input type="text" class="inputArea" th:field="*{salesForceContractNo}" style="width: 100%;">
									</td>
								</tr>

								<tr>
									<th>계약관계</th>
									<td colspan="5">
										<div class="search">
											<input type="text" class="inputArea" placeholder="매출/매입 | 계약구분 | 계약명" style="width: 100%;">
											<a class="btn_s mL5">검색</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="subTitle02">
						<h3>계약 기본정보 2</h3>
					</div>
					<div class="tbl_type02">
						<table>
							<colgroup>
								<col style="width: 25%;">
								<col style="width: 25%;">
								<col style="width: 25%;">
								<col>
							</colgroup>
							<tr>
								<th>접수 방법 구분</th>
								<td>
									<select th:field="*{submissionType}" style="width:100%;">
										<option th:each="type : *{submissionType}"
												th:value="${type.name}"
												th:text="${type.description}">
										</option>
									</select>
								</td>
								<th>자사법인</th>
								<td>
									<!--TODO: ENUM 타입으로 변환 후 응답-->
									<input readonly type="text" class="inputArea" value="메가존 클라우드" style="width: 100%;">
								</td>
							</tr>

							<tr>
								<th>오퍼링명</th>
								<td>
									<div class="search">
										<input disabled type="text" class="inputArea" value="" style="width: 80%;">
										<input type="hidden">
										<a onclick="" class="btn_s mL5">검색 </a>
									</div>
								</td>
								<th>체결 분류</th>
								<td>
									<select th:field="*{dealType}" style="width:100%;">
										<option th:each="type : *{dealType.values()}"
												th:value="${type.name}"
												th:text="${type.description}">
										</option>
									</select>
								</td>
							</tr>

							<tr>
								<th>거래처</th>
								<td colspan="5">
									<div class="search">
										<input disabled type="text" class="inputArea" id="customerName" value="" placeholder="거래처명 | 사업자등록번호" style="width: 100%;">
										<input type="hidden" th:field="*{customerId}">
										<a onclick="openCustomerPopup();" class="btn_s mL5">검색 </a>
									</div>
								</td>
							</tr>

							<tr>
								<th>계약금액</th>
								<td colspan="5">
									<div>
										총 금액 <input type="text" class="inputArea" th:field="*{amount}" style="width: 50%;">
										<select th:field="*{currencyUnitType}" style="width:10%;">
											<option th:each="type : *{currencyUnitType.values}"
													th:value="${type.name}"
													th:text="${type.description}">
											</option>
										</select>
										<input type="checkbox" th:field="*{hasVat}"/> 부가세 포함
									</div>
									<div>
										특이사항
										<input type="text" class="inputArea" th:field="*{contractAmountRemark}" style="width: 50%;">
									</div>
								</td>
							</tr>

							<tr>
								<th>계약기간</th>
								<td colspan="2">
									<div class="search">
										<input type="text" class="inputDate" th:field="*{contractStartDate}" data-mindate="today" style="width: 100%;" />
										<p class="mL10 mR10">~</p>
										<input type="text" class="inputDate" th:field="*{contractEndDate}" data-mindate="today" style="width: 100%;" />
									</div>
								</td>
								<td>
									<div class="mz-chkbxset">
										<div class="chkbx">
											<input type="checkbox" /> 종료일 해지 시까지로 설정
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<th>청구기간</th>
								<td colspan="2">
									<div class="search">
										<input type="text" class="inputDate" th:field="*{invoiceStartDate}" data-mindate="today" style="width: 100%;" />
										<p class="mL10 mR10">~</p>
										<input type="text" class="inputDate" th:field="*{invoiceEndDate}" data-mindate="today" style="width: 100%;" />
									</div>
								</td>
								<td>
									<div class="mz-chkbxset">
										<div class="chkbx">
											<input type="checkbox" /> 계약기간과 동일
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<th>세금계산서 작성일</th>
								<td colspan="1">
									<div class="search">
										<select style="width:50%;">
											<option>당월(말일)
											</option>
											<option>익월(1일)
											</option>
											<option>기타
											</option>
										</select>
										<input type="text" class="inputDate" data-mindate="today" style="width: 50%;"/> 이내
									</div>
								</td>
								<th>세금계산서 수신 메일</th>
								<td>
									<input type="text" class="inputArea" th:field="*{taxReceivedEmail}" style="width: 100%;">
								</td>
							</tr>

							<tr>
								<th>청구조건</th>
								<td>
									세금계산서 발행 후
									<input type="text" class="inputArea" style="width: 40%;"> 일 이내
								</td>
								<th>청구방법</th>
								<td>
									<select th:field="*{invoiceType}" style="width:100%;">
										<option th:each="type : *{invoiceType.values}"
												th:value="${type.name}"
												th:text="${type.description}">
										</option>
									</select>
								</td>
							</tr>

							<tr>
								<th>계약팀 담당자</th>
								<td>
									<div class="search">
										<input type="text" class="inputArea" th:field="*{contractManagerId}" placeholder="계약팀 담당자" style="width: 100%;">
										<a onclick="openChargerPopup();" class="btn_s mL5">검색</a>
									</div>
								</td>
								<th>세일즈 담당자/부서</th>
								<td>
									<div class="search">
										<input type="text" class="inputArea" th:field="*{salesManagerId}" placeholder="세일즈 담당자" style="width: 100%;">
										<a onclick="openChargerPopup();" class="btn_s mL5">검색</a>
									</div>
								</td>
							</tr>

							<tr>
								<th>사업수행 담당자/부서</th>
								<td colspan="5">
									<div class="search">
										<input type="text" class="inputArea" style="width: 25%">
										<a onclick=" " class="btn_s mL5">검색</a> &nbsp;&nbsp; (ex) PM 등...
									</div>
								</td>
							</tr>

							<tr>
								<th>EDM Link URL</th>
								<td colspan="5">
									<input class="inputArea" style="width: 67%;" type="text" value="">
								</td>
							</tr>

							<tr>
								<th>특이사항</th>
								<td colspan="5">
									<textarea th:field="*{contractAmountRemark}" style="width: 100%; height:100px;"></textarea>
								</td>
							</tr>
						</table>
					</div>

					<div class="section">
						<div class="subTitle02">
							<h3>고객사 담당자</h3>
							<div>
								<button type="button" class="btn btn-add" onclick="addClient()">담당자 추가</button>
							</div>
						</div>
						<div class="tbl_type02">
							<table id="customers">
								<colgroup>
									<col width="10%">
									<col width="25%">
									<col width="10%">
									<col>
									<col width="10%">
								</colgroup>
								<tr>
									<th class="center">No</th>
									<th class="center">이름</th>
									<th class="center">부서</th>
									<th class="center">이메일</th>
									<th class="center">행삭제</th>
								</tr>

								<tr th:each="id, stat : *{getCustomerEmployeeIds}">
									<td class="center" th:text="${stat.index} + 1"></td>
									<td>
										<input type="text" class="inputArea" th:field="'customerEmployeeIds[' + __${stat.index}__ + ']'" th:name="'customerEmployeeIds[' + __${stat.index}__ + ']'" th:value="${id}" style="width: 100%;" placeholder="이름" />
									</td>
									<td>
										<input type="text" class="inputArea" th:value="'부서'" style="width: 100%;" placeholder="부서" />
									</td>
									<td>
										<!--<input type="text" class="inputArea" th:id="'clientInfos[' + __${stat.index}__ + '].email'" th:name="'clientInfos[' + __${stat.index}__ + '].email'" th:value="${clientInfo.email}" style="width: 100%;" placeholder="이메일" />-->
									</td>
									<td>
										<!--<input type="text" class="inputArea" th:id="'clientInfos[' + __${stat.index}__ + '].etc'" th:name="'clientInfos[' + __${stat.index}__ + '].etc'" th:value="${clientInfo.etc}" style="width: 100%;" placeholder="비고" />-->
									</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="tbl_type02">
						<h3 th:style="'margin:30px 0px 0px 0px'">증빙 서류</h3>
						<table>
							<colgroup>
								<col style="width:15%;">
								<col>
							</colgroup>
							<tr>
								<th class="center">계약서</th>
								<td>
									<input type="text" class="inputArea" style="width: 100%" placeholder="전자 계약 URL 입력">
									<input type="file" th:text="'최대 1개'" />
								</td>
							</tr>

							<tr>
								<th class="center">사업자등록증</th>
								<td>
									<input type="file" th:text="'최대 1개'" />
								</td>
							</tr>

							<tr>
								<th class="center">비밀유지계약서</th>
								<td>
									<input type="file" th:text="'최대 1개'" />
								</td>
							</tr>

							<tr>
								<th class="center">기타 첨부문서</th>
								<td>
									<div>
										<input type="text" class="inputArea" style="width: 20%;">
										<input type="file" th:text="'최대 7개'" />
									</div>
								</td>
							</tr>

							<tr>
								<th class="center">특이사항</th>
								<td>
									<textarea type="text" class="inputArea" th:field="*{documentRemark}" />
								</td>
							</tr>
						</table>
					</div>

					<div class="tbl_type02">
						<h3 th:style="'margin:30px 0px 0px 0px'">추가사항</h3>
						<table>
							<colgroup>
								<col style="width:15%;">
								<col>
							</colgroup>
							<tr>
								<th class="center">지체상금율</th>
								<td>
									<div>
										<input type="text" class="inputArea" style="width: 10%;"> &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
										<input type="text" class="inputArea" style="width: 10%;">&nbsp;&nbsp;&nbsp;
										<input type="checkbox" /> 부가세 포함
									</div>
								</td>
							</tr>

							<tr>
								<th class="center">계약이행보증금</th>
								<td>
									<div>
										계약금액의
										<input type="text" class="inputArea" style="width: 10%;">&nbsp;&nbsp;%&nbsp;&nbsp;&nbsp;
										<input type="checkbox" /> 부가세 포함
										<input type="checkbox" /> 보증보험 제출
									</div>
								</td>
							</tr>

							<tr>
								<th class="center">하자이행보증금</th>
								<td>
									<div>
										계약금액의
										<input type="text" class="inputArea" style="width: 10%;">&nbsp;&nbsp;%&nbsp;&nbsp;&nbsp;
										<input type="checkbox" /> 부가세 포함
										<input type="checkbox" /> 보증보험 제출
									</div>
								</td>
							</tr>

							<tr>
								<th class="center">무상하자 보수기간</th>
								<td>
									<input type="text" class="inputArea" style="width: 10%;">&nbsp;년&nbsp;&nbsp;&nbsp;
									<input type="text" class="inputArea" style="width: 10%;">&nbsp;개월&nbsp;&nbsp;&nbsp;
								</td>
							</tr>

							<tr>
								<th>특이사항</th>
								<td>
									<input type="text" class="inputArea" style="width: 100%">
								</td>
							</tr>
						</table>
					</div>

					<div class="section" id="infra-section" style="display: none">
						<div class="subTitle02">
							<h3>AWS</h3>
							<input type="text" class="inputArea" th:field="*{awsDetail.name}" placeholder="이름" th:disabled="true"/>
						</div>
					</div>

					<div class="section" id="ps-section" style="display: none">
						<div class="subTitle02">
							<h3>PS</h3>
							<input type="text" class="inputArea" th:field="*{psDetail.name}" placeholder="이름" th:disabled="true"/>
						</div>
					</div>

					<div class="section" id="ms-section" style="display: none">
						<div class="subTitle02">
							<h3>MS</h3>
							<input type="text" class="inputArea" th:field="*{msDetail.name}" placeholder="이름" th:disabled="true"/>
						</div>
					</div>

					<div class="section" id="dp-section" style="display: none">
						<div class="subTitle02">
							<h3>DP</h3>
							<input type="text" class="inputArea" th:field="*{dpDetail.name}" placeholder="이름" th:disabled="true"/>
						</div>
					</div>

					<!-- 등록 버튼 -->
					<div class="btn-wrap">
						<button class="btn btn-blue" type="submit" name="action" value="TEMPORARY">임시 저장</button>
						<button class="btn btn-navy" type="submit" name="action" value="SAVED">등록</button>
						<a class="btn btn-wt" th:href="@{/contracts}">취소</a>
					</div>
					<!-- 버튼 -->
				</form>
			</div>
			<!-- content end -->
			<footer th:replace="~{fragments/footer}"></footer>
		</div>

		<script>
          let rowIndex = 0;
          const fields = {
            type: "이름",
            name: "부서",
            email: "이메일",
            etc: "행삭제"
          }

          function addClient() {
            const table = document.getElementById('customers');
            const newRow = table.insertRow(-1);

            const indexCell = newRow.insertCell(0);
            indexCell.classList.add('center');
            indexCell.textContent = rowIndex + 1;

            Object.keys(fields)
              .forEach((fieldKey, index) => {
                const cell = newRow.insertCell(index + 1);
                const input = document.createElement('input');
                input.classList.add('inputArea');
                input.style.width = '100%';
                input.type = 'text';
                input.value = '';
                input.placeholder = fields[fieldKey];
                input.id = `customerEmployeeIds${rowIndex}`;
                input.name = `customerEmployeeIds[${rowIndex}]`;
                cell.appendChild(input);
              });
            rowIndex++;
          }
		</script>

		<script>
          $(function () {
            $('#contractDate, #contractStartDate, #contractEndDate, #invoiceStartDate, #invoiceEndDate')
              .datepicker();
          });

          function updateContract() {
            const isCreated = confirm("계약을 등록하시겠습니까?");
            if (isCreated) {
              $("input[type='radio']")
                .attr("disabled", false);
              $("select")
                .attr("disabled", false);
            }
            return isCreated;
          }

          function toggleSectionVisibility(checkboxId, sectionId) {
            const checkbox = document.getElementById(checkboxId);
            const section = document.getElementById(sectionId);

            if (!checkbox.checked) {
              section.style.display = 'none';
              changeInputState(section, false);
              return;
            }

            section.style.display = 'block';
            changeInputState(section, true);
          }

          function changeInputState(section, isEnabled) {
            const inputElements = section.querySelectorAll('input');

            inputElements.forEach((input) => {
              input.disabled = !isEnabled;
            });
          }
		</script>

		<script>
          let rowIndex = 0;
          const fields = {
            type: "이름",
            name: "부서",
            email: "이메일",
            etc: "행삭제"
          }
		</script>

		<!--거래처 레이어팝업-->
		<div th:replace="~{fragments/contract-customer-popup}"></div>
		<!--계약담당자 레이어팝업-->
		<div th:replace="~{fragments/contract-employees-popup}"></div>
	</div>
</body>
</html>
