<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}">
</div>
<body>
	<div class="wrap">
		<nav th:replace="~{fragments/side-navigation-bar}"></nav>
		<!-- content start -->
		<div class="container">
			<header th:replace="~{fragments/header}"></header>
			<div class="header">
				<h2>
					매출 계약서 등록
				</h2>
			</div>
			<div class="content">
				<form method="post" th:action="@{/contracts/sales-form}" onsubmit="return createContract()" th:object="${form}" enctype="multipart/form-data">
					<div class="section">
						<div class="subTitle02">
							<h3>계약 유형</h3>
						</div>
						<div class="tbl_type02">
							<table>
							<colgroup>
								<col style="width: 15%;">
								<col style="width: 85%">
							</colgroup>
							<tr>
								<th>계약 구분</th>
								<td>
									<div class="mz-chkbxset">
										<div class="chkbx">
											<input type="checkbox" id="AWS" name="AWS" value="AWS" onchange="toggleSectionVisibility('AWS', 'aws-section');" />
											<label for="AWS">AWS</label>
										</div>
										<div class="chkbx">
											<input type="checkbox" id="PS" name="PS" value="PS" onchange="toggleSectionVisibility('PS', 'ps-section');" />
											<label for="PS">PS</label>
										</div>
										<div class="chkbx">
											<input type="checkbox" id="MS" name="MS" value="MS" onchange="toggleSectionVisibility('MS', 'ms-section');" />
											<label for="MS">MS</label>
										</div>
										<div class="chkbx">
											<input type="checkbox" id="DP" name="DP" value="DP" onchange="toggleSectionVisibility('DP', 'dp-section');" />
											<label for="DP">DP</label>
										</div>
									</div>
								</td>
							</tr>
							</table>
						</div>
					</div>


					<div class="section">
						<div class="subTitle02">
							<h3>계약 기본정보 1</h3>
						</div>
						<div class="tbl_type02">
							<table>
							<colgroup>
								<col style="width: 25%;">
								<col style="width: 25%;">
								<col style="width: 25%;">
								<col>
							</colgroup>
							<tr>
								<th>매출 계약 번호</th>
								<td>
									<input class="inputArea" th:field="*{contractId}" style="width: 100%;" type="text" value="" placeholder="계약 번호">
								</td>

								<th th:for="salesForceContractId">Sales Force 계약 번호</th>
								<td>
									<input th:field="*{salesForceContractId}" required
											class="inputArea" style="width: 100%;" type="text" value="" placeholder="Sales Force 계약 번호">
									<div class="invalid-feedback">
										<p th:if="${#fields.hasErrors('salesForceContractId')}" th:errors="*{salesForceContractId}">Invalid value</p>
									</div>
								</td>
							</tr>
							<tr>
								<th th:for="name">계약명</th>
								<td colspan="5">
									<input th:field="*{name}" required
											class="inputArea" style="width: 100%;" type="text" value="" placeholder="계약명">
									<div class="invalid-feedback">
										<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid value</p>
									</div>
								</td>
							</tr>
							</table>
						</div>
					</div>

					<div th:replace="~{contracts/fragments/info2.html}"></div>

					<div class="section">
						<div class="subTitle02">
							<h3>고객사 담당자</h3>
							<div>
								<button type="button" class="btn btn-add" onclick="addClient()">담당자 추가</button>
							</div>
						</div>
						<div class="tbl_type02">
							<table id="forList">
							<colgroup>
								<col width="10%">
								<col width="20%">
								<col width="20%">
								<col>
								<col width="20%">
							</colgroup>
							<tr>
								<th class="center">No</th>
								<th class="center">담당자 구분</th>
								<th class="center">이름</th>
								<th class="center">이메일</th>
								<th class="center">비고</th>
							</tr>
							<tr th:each="clientInfo, stat : *{clientInfos}">
								<td class="center" th:text="${stat.index} + 1"></td>
								<td>
									<select th:field="*{clientInfos[__${stat.index}__].type}" style="width:100%;">
										<option th:each="type : *{clientInfos[__${stat.index}__].type.values}"
												th:value="${type.name}"
												th:text="${type.type}">
										</option>
									</select>
								</td>
								<td>
									<input th:field="*{clientInfos[__${stat.index}__].name}" class="inputArea" style="width: 100%;" type="text" th:value="${clientInfo.name}" placeholder="이름" />
								</td>
								<td>
									<input th:field="*{clientInfos[__${stat.index}__].email}" class="inputArea" style="width: 100%;" type="text" th:value="${clientInfo.email}" placeholder="이메일" />
								</td>
								<td>
									<input th:field="*{clientInfos[__${stat.index}__].etc}" class="inputArea" style="width: 100%;" type="text" th:value="${clientInfo.etc}" placeholder="비고" />
								</td>
							</tr>
							</table>
						</div>
					</div>

					<div class="section">
						<div class="subTitle02">
							<h3>첨부 파일</h3>
						</div>
						<div class="tbl_type02">
							<table>
							<colgroup>
								<col style="width:15%;">
								<col >
							</colgroup>
							<tr>
								<th class="center">계약서</th>
								<td>
									<input type="file" th:field="*{contractFile}" />
								</td>
							</tr>
							<tr>
								<th class="center">사업자 등록증</th>
								<td>
									<input type="file" th:field="*{businessRegistrationFile}" />
								</td>
							</tr>
							<tr>
								<th class="center">기타</th>
								<td>
									<input type="file" th:field="*{etcFile}" />
								</td>
							</tr>
							</table>
						</div>
					</div>

					<div class="section" id="aws-section" style="display: none">
						<div class="subTitle02">
							<h3>AWS</h3>
							<input th:field="*{awsDetail.name}" th:disabled="true" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>

					<div class="section" id="ps-section" style="display: none">
						<div class="subTitle02">
							<h3>PS</h3>
							<input th:field="*{psDetail.name}" th:disabled="true" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>

					<div class="section" id="ms-section" style="display: none">
						<div class="subTitle02">
							<h3>MS</h3>
							<input th:field="*{msDetail.name}" th:disabled="true" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>

					<div class="section" id="dp-section" style="display: none">
						<div class="subTitle02">
							<h3>DP</h3>
							<input th:field="*{dpDetail.name}" th:disabled="true" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>

					<div class="section" id="outsourcing-section" style="display: none">
						<div class="subTitle02">
							<h3>외주</h3>
							<input th:field="*{outSourcingDetail.name}" th:disabled="true" class="inputArea" type="text" placeholder="이름"/>
						</div>
					</div>


					<!-- 등록 버튼 -->
					<div class="btn-wrap">
						<button type="submit" class="btn btn-blue" name="action" value="temporary">저장</button>
						<button type="submit" class="btn btn-navy" name="action" value="saved">등록</button>
						<a th:href="@{/contracts}" class="btn btn-wt">취소</a>
					</div>
					<!-- 버튼 -->

				</form>
			</div>
			<!-- content end -->
		</div>

		<script>
          let rowIndex = 1;
          const fields = {
            type: "담당자 구분",
            name: "이름",
            email: "이메일",
            etc: "비고"
          }

          function addClient() {
            const clonedSelect = document.getElementById("clientInfos0.type")
              .cloneNode(true);
            const table = document.getElementById('forList');
            const newRow = table.insertRow(-1);

            const indexCell = newRow.insertCell(0);
            indexCell.classList.add('center');
            indexCell.textContent = rowIndex + 1;

            Object.keys(fields)
              .forEach((fieldKey, index) => {
                const cell = newRow.insertCell(index + 1);
                if (fieldKey === 'type') {
                  clonedSelect.id = `clientInfos${rowIndex}.${fieldKey}`;
                  clonedSelect.name = `clientInfos[${rowIndex}].${fieldKey}`;
                  cell.appendChild(clonedSelect);
                  return;
                }

                const input = document.createElement('input');
                input.classList.add('inputArea');
                input.style.width = '100%';
                input.type = 'text';
                input.value = '';
                input.placeholder = fields[fieldKey];
                input.id = `clientInfos${rowIndex}.${fieldKey}`;
                input.name = `clientInfos[${rowIndex}].${fieldKey}`;
                cell.appendChild(input);
              });

            rowIndex++;
          }
		</script>

		<script>
          $(function () {
            $('#datePickerStart, #datePickerEnd')
              .datepicker();
          });

          function createContract() {
            const isCreated = confirm("계약을 등록하시겠습니까?");
            if (isCreated) {
              $("input[type='radio']")
                .attr("disabled", false);
              $("select")
                .attr("disabled", false);
            }
            return isCreated;
          }
		</script>

		<script>
          function toggleSectionVisibility(checkboxId, sectionId) {
            const checkbox = document.getElementById(checkboxId);
            const section = document.getElementById(sectionId);

            if (!checkbox.checked) {
              section.style.display = 'none';
              changeInputState(section, false);
              return;
            }

            section.style.display = 'block';
            changeInputState(section, true);
          }

          function changeInputState(section, isEnabled) {
            const inputElements = section.querySelectorAll('input');

            inputElements.forEach((input) => {
              input.disabled = !isEnabled;
            });
          }
		</script>
	</div>
</body>
</html>
