<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}">
</div>
<body>
<div class="wrap">
    <nav th:replace="~{fragments/side-navigation-bar}"></nav>
    <!-- content start -->
    <div class="container">
        <header th:replace="~{fragments/header}"></header>
        <div class="header">
            <h2>
                상세페이지
            </h2>
        </div>
        <div class="content">
            <form method="post" th:action="@{/contracts/sales-form}" onsubmit="return createContract()"
                  th:object="${form}" enctype="multipart/form-data">

                <div class="subTitle02">
                    <h3>계약 유형</h3>
                </div>
                <div class="tbl_type02">
                    <table>
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 85%">
                        </colgroup>
                        <tr>
                            <th>계약 구분</th>
                            <td>
                                <div class="mz-chkbxset">
                                    <div class="chkbx">
                                        <input type="checkbox" id="AWS" name="AWS" value="AWS"
                                               onchange="toggleSectionVisibility('AWS', 'aws-section');"/>
                                        <label for="AWS">AWS</label>
                                    </div>
                                    <div class="chkbx">
                                        <input type="checkbox" id="PS" name="PS" value="PS"
                                               onchange="toggleSectionVisibility('PS', 'ps-section');"/>
                                        <label for="PS">PS</label>
                                    </div>
                                    <div class="chkbx">
                                        <input type="checkbox" id="MS" name="MS" value="MS"
                                               onchange="toggleSectionVisibility('MS', 'ms-section');"/>
                                        <label for="MS">MS</label>
                                    </div>
                                    <div class="chkbx">
                                        <input type="checkbox" id="DP" name="DP" value="DP"
                                               onchange="toggleSectionVisibility('DP', 'dp-section');"/>
                                        <label for="DP">DP</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="section">
                    <div class="subTitle02">
                        <h3>계약 기본정보 1</h3>
                    </div>
                    <div class="tbl_type02">
                        <table>
                            <colgroup>
                                <col style="width: 25%;">
                                <col style="width: 25%;">
                                <col style="width: 25%;">
                                <col>
                            </colgroup>
                            <tr>
                                <th>매출 계약 번호</th>
                                <td>
                                    <p class="inputArea" style="width: 100%;" th:text="'계약번호'"></p>
                                </td>

                                <th th:for="salesForceContractId">Sales Force 계약 번호</th>
                                <td>
                                    <p class="inputArea" style="width: 100%;" th:text="'Sales Force 계약 번호'"></p>
                                </td>
                            </tr>
                            <tr>
                                <th th:for="name">계약명</th>
                                <td colspan="5">
                                    <p class="inputArea" style="width: 100%;" th:text="'계약명'"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class="subTitle02">
                    <h3>계약 기본정보 2</h3>
                </div>
                <div class="tbl_type02">
                    <table>
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 18%;">
                            <col style="width: 15%;">
                            <col style="width: 18%;">
                            <col style="width: 15%;">
                            <col>
                        </colgroup>
                        <tr>
                            <th>접수 방법 구분</th>
                            <td>
                                <p class="inputArea" style="width: 100%;" th:text="'접수 방법 구분'"></p>
                            </td>
                            <th>자사 법인</th>
                            <td>
                                <p class="inputArea" style="width: 100%;" th:text="'자사 법인'"></p>
                            </td>
                            <th>서비스 분류</th>
                            <td>
                                <p class="inputArea" style="width: 100%;" th:text="'서비스 분류'"></p>
                            </td>
                        </tr>
                        <tr>
                            <th>체결 분류</th>
                            <td>
                                <p class="inputArea" style="width: 100%;" th:text="'체결 분류'"></p>
                                <!--<input class="inputArea" style="width: 100%;" type="text" value="" placeholder="체결분류">-->
                            </td>
                            <th>거래처 구분</th>
                            <td>
                                <p class="inputArea" style="width: 100%;" th:text="'거래처 구분'"></p>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>거래처명</th>
                            <td colspan="5">
                                <p class="inputArea" style="width: 100%;" th:text="'거래처명'"></p>
                            </td>

                        </tr>
                        <tr>
                            <th>계약 금액</th>
                            <td colspan="2">
                                <div class="search">
                                    <p class="inputArea mL5" style="width: 100%;" th:text="'금액'">
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>계약 기간</th>
                            <td colspan="2">
                                <div class="search">
                                    <p
                                            style="width: 100%;" th:text="'기간시작'"
                                            id="datePickerStart" data-mindate="today"/>

                                    <p class="mL10 mR10">~</p>
                                    <p
                                            th:text="'기간끝'" style="width: 100%;"
                                            id="datePickerEnd" data-mindate="today"/>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <th>계약팀 담당자</th>
                            <td>
                                <div class="search">
                                    <p class="inputArea" style="width: 100%;" th:text="'계약팀 담당자'"></p>
                                </div>
                            </td>
                            <th>세일즈 담당자</th>
                            <td>
                                <div class="search">
                                    <p class="inputArea" style="width: 100%;" th:text="'세일즈 담당자'"></p>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>청구 방법</th>
                            <td>
                                <p class="inputArea" style="width: 100%;" th:text="'청구 방법'"></p>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>특이사항</th>
                            <td colspan="5">
                                <p style="width: 100%; height:100px;" th:text="'특이사항'"></p>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="section">
                    <div class="subTitle02">
                        <h3>고객사 담당자</h3>
                    </div>
                    <div class="tbl_type02">
                        <table id="forList">
                            <colgroup>
                                <col width="10%">
                                <col width="20%">
                                <col width="20%">
                                <col>
                                <col width="20%">
                            </colgroup>
                            <tr>
                                <th class="center">No</th>
                                <th class="center">담당자 구분</th>
                                <th class="center">이름</th>
                                <th class="center">이메일</th>
                                <th class="center">비고</th>
                            </tr>
                            <tr>
                                <td>
                                    <p class="inputArea" style="width: 100%;" th:text="'NO'"
                                       th:style="'text-align: center;'"></p>
                                </td>
                                <td>
                                    <p class="inputArea" style="width: 100%;" th:text="'담당자 구분'"
                                       th:style="'text-align: center;'"></p>
                                </td>
                                <td>
                                    <p class="inputArea" style="width: 100%;" th:text="'이름'"
                                       th:style="'text-align: center;'"></p>
                                </td>
                                <td>
                                    <p class="inputArea" style="width: 100%;" th:text="'이메일'"
                                       th:style="'text-align: center;'"></p>
                                </td>
                                <td>
                                    <p class="inputArea" style="width: 100%;" th:text="'비고'"
                                       th:style="'text-align: center;'"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="section">
                    <div class="subTitle02">
                        <h3>첨부 파일</h3>
                    </div>
                    <div class="tbl_type02">
                        <table>
                            <colgroup>
                                <col style="width:15%;">
                                <col>
                            </colgroup>
                            <tr>
                                <th class="center">계약서</th>
                                <td>
                                    <p type="file" th:text="'선택된 파일 없음'"></p>
                                </td>
                            </tr>
                            <tr>
                                <th class="center">사업자 등록증</th>
                                <td>
                                    <p type="file" th:text="'선택된 파일 없음'"></p>
                                </td>
                            </tr>
                            <tr>
                                <th class="center">기타</th>
                                <td>
                                    <p type="file" th:text="'선택된 파일 없음'"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!--<div class="section" id="aws-section" style="display: none">
                    <div class="subTitle02">
                        <h3>AWS</h3>
                        <input th:field="*{awsDetail.name}" th:disabled="true" class="inputArea" type="text"
                               placeholder="이름"/>
                    </div>
                </div>

                <div class="section" id="ps-section" style="display: none">
                    <div class="subTitle02">
                        <h3>PS</h3>
                        <input th:field="*{psDetail.name}" th:disabled="true" class="inputArea" type="text"
                               placeholder="이름"/>
                    </div>
                </div>

                <div class="section" id="ms-section" style="display: none">
                    <div class="subTitle02">
                        <h3>MS</h3>
                        <input th:field="*{msDetail.name}" th:disabled="true" class="inputArea" type="text"
                               placeholder="이름"/>
                    </div>
                </div>

                <div class="section" id="dp-section" style="display: none">
                    <div class="subTitle02">
                        <h3>DP</h3>
                        <input th:field="*{dpDetail.name}" th:disabled="true" class="inputArea" type="text"
                               placeholder="이름"/>
                    </div>
                </div>

                <div class="section" id="outsourcing-section" style="display: none">
                    <div class="subTitle02">
                        <h3>외주</h3>
                        <input th:field="*{outSourcingDetail.name}" th:disabled="true" class="inputArea" type="text"
                               placeholder="이름"/>
                    </div>
                </div>-->


                <!-- 등록 버튼 -->
                <div class="btn-wrap">
                    <button type="submit" class="btn btn-blue" name="action" value="temporary">뒤로가기</button>
                    <button type="submit" class="btn btn-navy" name="action" value="saved">수정</button>
                    <!--<a th:href="@{/contracts}" class="btn btn-wt">취소</a>-->
                </div>
                <!-- 버튼 -->

            </form>
        </div>
        <!-- content end -->
    </div>

    <script>
        let rowIndex = 1;
        const fields = {
            type: "담당자 구분",
            name: "이름",
            email: "이메일",
            etc: "비고"
        }

        function addClient() {
            const clonedSelect = document.getElementById("clientInfos0.type")
                .cloneNode(true);
            const table = document.getElementById('forList');
            const newRow = table.insertRow(-1);

            const indexCell = newRow.insertCell(0);
            indexCell.classList.add('center');
            indexCell.textContent = rowIndex + 1;

            Object.keys(fields)
                .forEach((fieldKey, index) => {
                    const cell = newRow.insertCell(index + 1);
                    if (fieldKey === 'type') {
                        clonedSelect.id = `clientInfos${rowIndex}.${fieldKey}`;
                        clonedSelect.name = `clientInfos[${rowIndex}].${fieldKey}`;
                        cell.appendChild(clonedSelect);
                        return;
                    }

                    const input = document.createElement('input');
                    input.classList.add('inputArea');
                    input.style.width = '100%';
                    input.type = 'text';
                    input.value = '';
                    input.placeholder = fields[fieldKey];
                    input.id = `clientInfos${rowIndex}.${fieldKey}`;
                    input.name = `clientInfos[${rowIndex}].${fieldKey}`;
                    cell.appendChild(input);
                });

            rowIndex++;
        }
    </script>

    <script>
        $(function () {
            $('#datePickerStart, #datePickerEnd')
                .datepicker();
        });

        function createContract() {
            const isCreated = confirm("계약을 등록하시겠습니까?");
            if (isCreated) {
                $("input[type='radio']")
                    .attr("disabled", false);
                $("select")
                    .attr("disabled", false);
            }
            return isCreated;
        }
    </script>
</div>
</body>
</html>
