<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}">
</div>
<body>
	<div class="wrap">
		<nav th:replace="~{fragments/side-navigation-bar}"></nav>
		<!-- content start -->
		<div class="container">
			<header th:replace="~{fragments/header}"></header>
			<div class="header">
				<h2>
					매출 계약서 조회
				</h2>
			</div>

			<div class="content">
				<div class="subTitle02">
					<h3>매출 계약유형</h3>
				</div>
				<div class="tbl_type02">
					<table>
					<colgroup>
						<col style="width: 15%;">
						<col style="width: 85%">
					</colgroup>
					<tr>
						<th>*매출 계약유형</th>
						<td>
							<div class="mz-chkbxset">
								<div class="chkbx">
									<input type="checkbox" th:disabled="true" th:checked="${contract.getContractDetailTypes().contains('INFRA')}" id="INFRA" name="INFRA" value="INFRA">
									<label for="Infra">Infra</label>
								</div>
								<div class="chkbx">
									<input type="checkbox" th:disabled="true" th:checked="${contract.getContractDetailTypes().contains('PS')}" id="PS" name="PS" value="PS" />
									<label for="PS">PS</label>
								</div>
								<div class="chkbx">
									<input type="checkbox" th:disabled="true" th:checked="${contract.getContractDetailTypes().contains('MS')}" id="MS" name="MS" value="MS" />
									<label for="MS">MS</label>
								</div>
								<div class="chkbx">
									<input type="checkbox" th:disabled="true" th:checked="${contract.getContractDetailTypes().contains('DP')}" id="DP" name="DP" value="DP" />
									<label for="DP">DP</label>
								</div>
								<div class="chkbx">
									<input type="checkbox" th:disabled="true" th:checked="${contract.getContractDetailTypes().contains('OUTSOURCE')}" id="OUTSOURCING" name="OUTSOURCING" value="OUTSOURCING" />
									<label for="OUTSOURCING">외주</label>
								</div>
							</div>
						</td>
					</tr>
					</table>
				</div>

				<div class="section">
					<div class="subTitle02">
						<h3>계약 기본정보 1</h3>
					</div>
					<div class="tbl_type02">
						<table>
						<colgroup>
							<col style="width: 25%;">
							<col style="width: 25%;">
							<col style="width: 25%;">
							<col>
						</colgroup>
						<tr>
							<th>매출 계약번호</th>
							<td>
								<p class="inputArea" th:text="${contract.no}" style="width: 100%;"></p>
							</td>
							<th>계약날인일</th>
							<td>
								<p class="inputArea" th:text="${contract.contractDate()}" style="width: 100%"></p>
							</td>
						</tr>

						<tr>
							<th th:for="name">매출 계약명</th>
							<td>
								<p class="inputArea" th:text="${contract.name}" style="width: 100%;"></p>
							</td>
							<th th:for="salesForceContractId">Salesforce 계약번호</th>
							<td>
								<p class="inputArea" th:text="${contract.salesForceContractNo}" style="width: 100%;"></p>
							</td>
						</tr>

						<tr>
							<th>계약관계</th>
							<td colspan="5">
								<p class="inputArea" th:text="계약관계" style="width: 100%" />
							</td>
						</tr>

						<!--<tr>-->
						<!--    <th>매출 갱신 여부</th>-->
						<!--    <td>-->
						<!--        <p class="inputArea" style="width: 100%"></p>-->
						<!--    </td>-->
						<!--    <th>갱신전 매출 계약번호</th>-->
						<!--    <td>-->
						<!--        <p class="inputArea" style="width: 100%"></p>-->
						<!--    </td>-->
						<!--</tr>-->
						</table>
					</div>
				</div>

				<div class="subTitle02">
					<h3>계약 기본정보 2</h3>
				</div>
				<div class="tbl_type02">
					<table>
					<colgroup>
						<col style="width: 25%;">
						<col style="width: 25%;">
						<col style="width: 25%;">
						<col>
					</colgroup>

					<tr>
						<th>접수 방법 구분</th>
						<td>
							<p class="inputArea" th:text="${contract.submissionType.description}" style="width: 100%;"></p>
						</td>
						<th>자사 법인</th>
						<td>
							<p class="inputArea" th:text="${contract.corporationName()}" style="width: 100%;"></p>
						</td>
					</tr>

					<tr>
						<th>Offering Name</th>
						<td>
							<p class="inputArea" th:text="'Offering Name'" style="width: 100%" />
						</td>
						<!--<th>서비스 분류</th>-->
						<!--<td>-->
						<!--	<p class="inputArea" th:text="${contract.serviceType}" style="width: 100%;"></p>-->
						<!--</td>-->
						<th>체결 분류</th>
						<td colspan="5">
							<p class="inputArea" th:text="${contract.dealType().description}" style="width: 100%;"></p>
						</td>
					</tr>

					<tr>
						<th>거래처</th>
						<td colspan="5">
							<p class="inputArea" th:text="${contract.customerName()}" style="width: 100%;"></p>
						</td>
					</tr>

					<tr>
						<th>계약금액</th>
						<td colspan="5">
							<div>
								금액&nbsp;&nbsp;<span class="inputArea" th:text="${contract.amount()}" style="width: 100%" />&nbsp;&nbsp;
								<span class="inputArea" th:text="${contract.currencyUnitType().description}" style="width: 100%" />
								&nbsp;&nbsp; (부가세 별도)
							</div>

							<div>
								특이사항 <span class="inputArea" th:text="${contract.amountRemark()}" style="width: 100%" />
							</div>
						</td>
					</tr>

					<tr>
						<th>계약 기간</th>
						<td colspan="5">
							<div class="search">
								<p th:text="${contract.contractStartDate() + ' ~ ' + contract.contractEndDate()}" style="width: 100%;" />
							</div>
						</td>
					</tr>

					<tr>
						<th>청구기간</th>
						<td colspan="5">
							<div class="search">
								<p th:text="${contract.invoiceStartDate() + ' ~ ' + contract.invoiceEndDate()}" style="width: 100%" />
							</div>
						</td>
					</tr>

					<tr>
						<th>세금계산서 작성일</th>
						<td>
							<p th:text="'세금계산서 작성일'" style="width: 100%" />
						</td>
						<th>세금계산서 수신 메일</th>
						<td>
							<p th:text="'세금계산서 수신 메일'" style="width: 100%" />
						</td>
					</tr>

					<tr>
						<th>청구조건</th>
						<td>
							<p th:text="'청구조건'" style="width: 100%" />
						</td>
						<th>청구방법</th>
						<td colspan="5">
							<p class="inputArea" th:text="${contract.invoiceType().description}" style="width: 100%;" />
						</td>
					</tr>

					<tr>
						<th>계약팀 담당자</th>
						<td>
							<div class="search">
								<p class="inputArea" th:text="${contract.contractManagerName()}" style="width: 100%;"></p>
							</div>
						</td>
						<th>세일즈 담당자/부서</th>
						<td colspan="5">
							<div class="search">
								<p class="inputArea" th:text="${contract.contractSalesManagerName()}" style="width: 100%;"></p>
							</div>
						</td>
					</tr>

					<tr>
						<th>사업수행 담당자/부서</th>
						<td colspan="5">
							<p class="inputArea" th:text="'사업수행 담당자/부서'" style="width: 100%" />
						</td>
					</tr>

					<tr>
						<th>EDM Link URL</th>
						<td colspan="5">
							<p class="inputArea" th:text="${contract.EdmLinkUrl}" style="width: 100%;"></p>
						</td>
					</tr>

					<tr>
						<th>특이사항</th>
						<td colspan="5">
							<p th:text="${contract.remark()}"></p>
						</td>
					</tr>
					</table>
				</div>

				<div class="section">
					<div class="subTitle02">
						<h3>고객사 담당자</h3>
					</div>
					<div class="tbl_type02">
						<table id="forList">
						<colgroup>
							<col width="10%">
							<col width="20%">
							<col width="20%">
							<col>
						</colgroup>
						<tr>
							<th class="center">No</th>
							<th class="center">이름</th>
							<th class="center">부서</th>
							<th class="center">이메일</th>
							<th class="center">행삭제</th>
						</tr>

						<tr th:each="customerEmployee : ${contract.customerEmployees()}">
							<td>
								<p class="inputArea" style="width: 100%; text-align: center" th:text="'NO'"></p>
							</td>
							<td>
								<p class="inputArea" style="width: 100%; text-align: center" th:text="${customerEmployee.name()}"></p>
							</td>
							<td>
								<p class="inputArea" style="width: 100%; text-align: center" th:text="'부서'"></p>
							</td>
							<td>
								<p class="inputArea" style="width: 100%; text-align: center" th:text="${customerEmployee.email()}"></p>
							</td>
							<td>
								<p class="inputArea" style="width: 100%; text-align: center"></p>
							</td>
						</tr>
						</table>
					</div>
				</div>

				<div class="section">
					<div class="subTitle02">
						<h3>증빙서류</h3>
					</div>
					<div class="tbl_type02">
						<table>
						<colgroup>
							<col style="width:15%;">
							<col>
						</colgroup>
						<tr>
							<th>계약서</th>
							<td>
								<p type="file" th:text="'선택된 파일 없음'"></p>
							</td>
						</tr>

						<tr>
							<th>사업자 등록증</th>
							<td>
								<p type="file" th:text="'선택된 파일 없음'"></p>
							</td>
						</tr>

						<tr>
							<th>비밀유지계약서</th>
							<td>
								<p type="file" th:text="'선택된 파일 없음'"></p>
							</td>
						</tr>

						<tr>
							<th>기타 첨부문서</th>
							<td>
								<p type="file" th:text="'선택된 파일 없음'"></p>
							</td>
						</tr>

						<tr>
							<th>특이사항</th>
							<td>
								<p type="text" style="width: 100%"></p>
							</td>
						</tr>
						</table>
					</div>
				</div>

				<div class="section">
					<div class="subTitle02">
						<h3>추가사항</h3>
					</div>
					<div class="tbl_type02">
						<table>
						<colgroup>
							<col style="width:15%;">
							<col>
						</colgroup>
						<tr>
							<th>지체상금율</th>
							<td>
								<p></p>
							</td>
						</tr>

						<tr>
							<th>계약이행보증금</th>
							<td>
								<p></p>
							</td>
						</tr>

						<tr>
							<th>하자이행보증금</th>
							<td>
								<p></p>
							</td>
						</tr>

						<tr>
							<th>무상하자 보수기간</th>
							<td>
								<p></p>
							</td>
						</tr>

						<tr>
							<th>특이사항</th>
							<td>
								<p></p>
							</td>
						</tr>
						</table>
					</div>
				</div>

				<!--<div class="section">-->
				<!--	<div class="subTitle02">-->
				<!--		<h3>기타</h3>-->
				<!--	</div>-->
				<!--	<div class="tbl_type02">-->
				<!--		<table>-->
				<!--		<colgroup>-->
				<!--			<col style="width: 25%;">-->
				<!--			<col style="width: 25%;">-->
				<!--			<col style="width: 25%;">-->
				<!--			<col>-->
				<!--		</colgroup>-->
				<!--		<tr>-->
				<!--			<th>지체상금율</th>-->
				<!--			<td>-->
				<!--				<p class="inputArea" style="width: 100%;"></p>-->
				<!--			</td>-->
				<!--			<th>무상하자 보수기간</th>-->
				<!--			<td>-->
				<!--				<div>-->
				<!--					<span class="inputArea" style="width: 100%" />&nbsp;&nbsp;년-->
				<!--					<span class="inputArea" style="width: 100%" />&nbsp;&nbsp; 개월-->
				<!--				</div>-->

				<!--				<div>-->
				<!--					• 특이사항-->
				<!--					<p class="inputArea" style="width: 100%" />-->
				<!--				</div>-->
				<!--			</td>-->
				<!--		</tr>-->

				<!--		<tr>-->
				<!--			<th th:for="name">계약이행보증금</th>-->
				<!--			<td>-->
				<!--				<div>-->
				<!--					<span class="inputArea" style="width: 100%" />&nbsp;&nbsp;• 계약금액의-->
				<!--					<span class="inputArea" style="width: 100%" />&nbsp;&nbsp;• 부가세포함-->
				<!--				</div>-->
				<!--				<div>-->
				<!--					<span class="inputArea" style="width: 100%" />&nbsp;&nbsp;• 보증보험 제출-->
				<!--				</div>-->
				<!--			</td>-->
				<!--			<th th:for="salesForceContractId">하자이행보증금</th>-->
				<!--			<td>-->
				<!--				<div>-->
				<!--					<span class="inputArea" style="width: 100%" />&nbsp;&nbsp;• 계약금액의-->
				<!--					<span class="inputArea" style="width: 100%" />&nbsp;&nbsp;• 부가세포함-->
				<!--				</div>-->
				<!--				<div>-->
				<!--					<span class="inputArea" style="width: 100%" />&nbsp;&nbsp;• 보증보험 제출-->
				<!--				</div>-->
				<!--			</td>-->
				<!--		</tr>-->
				<!--		</table>-->
				<!--	</div>-->
				<!--</div>-->

				<div th:each="contractDetail : ${contract.contractDetails()}">
					<div class="section">
						<div class="subTitle02">
							<h3 th:text="${contractDetail.type().description}">Type</h3>
							<p class="inputArea" th:text="${contractDetail.name()}" type="text">text</p>
						</div>
					</div>
				</div>

				<!-- 등록 버튼 -->
				<div class="btn-wrap">
					<a th:href="@{/contracts}" class="btn btn-wt">목록</a>
					<!--<a th:href="@{/contracts}" class="btn btn-wt">취소</a>-->
				</div>
				<!-- 버튼 -->
			</div>
			<!-- content end -->
		</div>
	</div>
</body>
</html>
