<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
	<header th:replace="~{fragments/header}"></header>
	<div class = "container">
		<div class="py-5 text-center">
			<h2>계약 입력</h2>
		</div>
		<form method="post" action="/contracts/form">
			<label for="name" class="form-label">계약 이름</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="계약 이름" required>
			<label for="contents" class="form-label">계약 내용</label>
			<input type="text" class="form-control" id="contents" name="contents" placeholder="계약 내용" required>
			<label for="contractor" class="form-label">담당자</label>
			<input type="text" class="form-control" id="contractor" name="contractor" placeholder="담당자" required>
			<br>
			<button type="submit" class="btn btn-primary">제출</button>
		</form>
	</div>
</body>
</html>
