<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
	<header th:replace="~{fragments/header}"></header>
	<div class="container">
		<h2>계약 목록</h2>
		<table class="table table-striped">
		<thead>
			<tr>
				<th>계약 이름</th>
				<th>계약 내용</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="contract : ${contracts}">
				<td th:text="${contract.name}">계약 이름</td>
				<td th:text="${contract.contents}">계약 내용</td>
				<td>
					<a th:href="'/contracts/' + ${contract.id} + '/form'" class="btn btn-success">수정</a>
				</td>
				<td>
					<form th:action="'/contracts/' + ${contract.id} + '/delete'" method="post">
						<button type="submit" class="btn btn-danger">삭제</button>
					</form>
				</td>
			</tr>
		</tbody>
		</table>
		<a th:href="@{/contracts/form}" class="btn btn-primary">생성</a>
	</div>
</body>
</html>
