<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
	<div class="wrap">

		<nav th:replace="~{fragments/side-navigation-bar}"></nav>

		<div class="container">
			<header th:replace="~{fragments/header}"></header>
			<div class="content">

				<div class="section">
					<!-- Search Filter -->
					<div class="searchTable1 mB15">
						<table>
						<colgroup>
							<col style="width:25%">
							<col style="width:25%">
							<col style="width:25%">
							<col />
						</colgroup>
						<tr>
							<td>
								<p>계약유형</p>
								<select id="" name="" style="width:100%;">
									<option>COR[1]</option>
									<option>COR[2]</option>
								</select>
							</td>
							<td>
								<p>서비스분류</p>
								<select id="" name="" style="width:100%;">
									<option>FMS</option>
									<option>FMS</option>
								</select>
							</td>
							<td>
								<p>체결분류</p>
								<select id="" name="" style="width:100%;">
									<option>XPO</option>
									<option>XPO</option>
								</select>
							</td>
							<td>
								<p>거래처구분</p>
								<select id="" name="" style="width:100%;">
									<option>Y</option>
									<option>N</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<p>계약시작</p>
								<input class="inputDate" style="width: 100%;" type="text" id="datePickerFr" data-mindate="today" />
							</td>
							<td>
								<p>계약종료</p>
								<input class="inputDate" style="width: 100%;" type="text" id="datePickerTo" data-mindate="today" />
							</td>
							<td>
								<p>서비스분류</p>
								<select id="" name="" style="width:100%;">
									<option>XPO</option>
									<option>XPO</option>
								</select>
							</td>
							<td>
								<p>거래처구분</p>
								<select id="" name="" style="width:100%;">
									<option>Y</option>
									<option>N</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<p>거래처명</p>
								<input class="inputArea" style="width: 100%;" type="text" value="" placeholder="거래처명을 입력하세요.">
								</select>
							</td>
							<td>
								<p>계약팀 담당자</p>
								<input class="inputArea" style="width: 100%;" type="text" value="" placeholder="담당자를 입력하세요.">
								</select>
							</td>
							<td>
								<p>세일즈 담당자</p>
								<input class="inputArea" style="width: 100%;" type="text" value="" placeholder="담당자를 입력하세요.">
							</td>
							<td>
								<p>진행상태</p>
								<div class="mz-radioset mT10">
									<div class="mz-radio">
										<input type="radio" name="status" id="status01" value="" checked="">
										<label for="status01">전체</label>
									</div>
									<div class="mz-radio">
										<input type="radio" name="status" id="status02" value="">
										<label for="status02">저장</label>
									</div>
									<div class="mz-radio">
										<input type="radio" name="status" id="status03" value="">
										<label for="status03">신청</label>
									</div>
									<div class="mz-radio">
										<input type="radio" name="status" id="status04" value="">
										<label for="status04">승인</label>
									</div>
									<div class="mz-radio">
										<input type="radio" name="status" id="status05" value="">
										<label for="status05">반려</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<p>검색어</p>
								<input class="inputArea" style="width: 100%;" type="text" value="" placeholder="검색어를 입력하세요.">
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<div class="btnArea">
									<a href="#" class="btn btnType01">검색</a><a href="#" class="btn btnType02">초기화</a>
								</div>
							</td>
						</tr>
						</table>
					</div>
					<!-- Search Filter -->
				</div>

				<div class="section">
					<div class="subTitle">
						<h3>계약정보</h3>
						<div><a th:href="@{/contracts/type-form}" class="btn btn-create">등록</a></div>
					</div>
					<!-- Result Table -->
					<div class="tbl_type01">
						<table>
							<colgroup>
								<col style="width:10%">
								<col style="width:20%">
								<col />
								<col style="width:20%">
								<col style="width:10%">
								<!--<col style="width:10%">-->
							</colgroup>
							<thead>
								<tr>
									<th>#</th>
									<th>계약 이름</th>
									<th>계약 내용</th>
									<th>담당자</th>
									<th>수정</th>
									<!--<th>삭제</th>-->
								</tr>
							</thead>
							<tbody>
								<tr th:each="contract, stat : ${contracts}">
									<td th:text="${contracts.size() - stat.index}" class="index"></td>
									<td>
										<a class="clickable" th:href="@{/contracts/{id} (id=${contract.id})}" th:text="${contract.name}">계약 내용</a>
									</td>
									<td th:text="${contract.name()}" >계약 이름</td>
									<td th:text="${contract.contractorName()}">담당자</td>
									<td>
										<a th:href="@{/contracts/{id}/form (id=${contract.id})}" class="btn_U">수정</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Result Table -->
				</div>

			</div>
		</div>
	</div>

	<script>
      $(function () {
        $('#datePickerFr, #datePickerTo').datepicker();
      });

      //function deleteContract() {
      //  return confirm("계약을 삭제하시겠습니까?");
      //}
	</script>
</body>
</html>
