<div class="section" th:object="${form}">
  <div class="subTitle02">
    <h3>계약 기본정보 2</h3>
  </div>
  <div class="tbl_type02">
    <table>
    <colgroup>
      <col style="width: 15%;">
      <col style="width: 18%;">
      <col style="width: 15%;">
      <col style="width: 18%;">
      <col style="width: 15%;">
      <col>
    </colgroup>
    <tr>
      <th>접수 방법 구분</th>
      <td>
        <select th:field="*{submissionType}" style="width:100%;">
          <option th:each="type : *{submissionType.values}"
                  th:value="${type.name}"
                  th:text="${type.name}">
          </option>
        </select>
      </td>
      <th>자사 법인</th>
      <td>
        <select th:field="*{ownCorporationType}" style="width:100%;">
          <option th:each="type : *{ownCorporationType.values}"
                  th:value="${type.name}"
                  th:text="${type.type}">
          </option>
        </select>
      </td>
      <th>서비스 분류</th>
      <td>
        <select th:field="*{serviceType}" style="width:100%;">
          <option th:each="type : *{serviceType.values}"
                  th:value="${type.name}"
                  th:text="${type.type}">
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <th>체결 분류</th>
      <td>
        <select style="width:100%;">
          <option th:each="type : *{dealType.values}"
                  th:value="${type.name}"
                  th:text="${type.type}">
          </option>
        </select>
        <!--<input class="inputArea" style="width: 100%;" type="text" value="" placeholder="체결분류">-->
      </td>
      <th>거래처 구분</th>
      <td>
        <select th:field="*{businessPartnerType}" style="width:100%;">
          <option th:each="type : *{businessPartnerType.values}"
                  th:value="${type.name}"
                  th:text="${type.type}">
          </option>
        </select>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>거래처명</th>
      <td colspan="5">
        <div class="search">
          <input th:field="*{businessPartnerName}" class="inputArea" style="width: 100%;" type="text" value="" placeholder="거래처명">
          <a class="btn_s mL5">검색 </a>
        </div>
      </td>

    </tr>
    <tr>
      <th>계약 금액</th>
      <td colspan="2">
        <div class="search">
          <select th:field="*{currencyUnit}" style="width:100%;">
            <option th:each="type : *{currencyUnit.values}"
                    th:value="${type.name}"
                    th:text="${type.name}">
            </option>
          </select>
          <input th:field="*{totalContractAmount}" class="inputArea mL5" style="width: 100%;" type="text" value="" placeholder="금액">
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>계약 기간</th>
      <td colspan="2">
        <div class="search">
          <input class="inputDate" style="width: 100%;" type="text" id="datePickerStart" data-mindate="today" />
          <p class="mL10 mR10">~</p>
          <input class="inputDate" style="width: 100%;" type="text" id="datePickerEnd" data-mindate="today" />
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>계약팀 담당자</th>
      <td>
        <div class="search">
          <input class="inputArea" style="width: 100%;" type="text" value="" placeholder="계약팀 담당자" th:field="*{contractor}">
          <a class="btn_s mL5">검색</a>
        </div>
      </td>
      <th>세일즈 담당자</th>
      <td>
        <div class="search">
          <input class="inputArea" style="width: 100%;" type="text" value="" placeholder="세일즈 담당자" th:field="*{salesPersonName}">
          <a class="btn_s mL5">검색</a>
        </div>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>청구 방법</th>
      <td>
        <select th:field="*{submissionType}" style="width:100%;">
          <option th:each="type : *{submissionType.values}"
                  th:value="${type.name}"
                  th:text="${type.type}">
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <th>AWS 통합 빌링(신규)</th>
      <td colspan="5">
        <div class="chkbx">
          <input type="checkbox" name="" id="">
          <label for="">확인</label>
        </div>
      </td>

    </tr>
    <tr>
      <th>특이사항</th>
      <td colspan="5">
        <textarea style="width: 100%; height:100px;" th:field="*{contents}"></textarea>
      </td>
    </tr>
    </table>
  </div>
</div>
