<div class="section" th:object="${form}">
	<div class="subTitle02">
		<h3>계약 기본정보 1</h3>
	</div>
	<div class="tbl_type02">
		<table>
		<colgroup>
			<col style="width: 15%;">
			<col style="width: 18%;">
			<col style="width: 15%;">
			<col style="width: 18%;">
			<col style="width: 15%;">
			<col>
		</colgroup>
		<tr>
			<th th:if="${isSales}">매출 계약 번호</th>
			<th th:unless="${isSales}">매입 계약 번호</th>
			<td>
				<input class="inputArea" th:field="*{contractId}" style="width: 100%;" type="text" value="" placeholder="계약 번호">
			</td>
			<th th:if="${isSales}" th:for="beforeUpdateId">갱신전 매출 계약 번호</th>
			<th th:unless="${isSales}" th:for="beforeUpdateId">갱신전 매입 계약 번호</th>
			<td>
				<input th:field="*{beforeUpdateId}" required
						class="inputArea" style="width: 100%;" type="text" value="" placeholder="갱신전 계약 번호">
				<div class="invalid-feedback">
					<p th:if="${#fields.hasErrors('beforeUpdateId')}" th:errors="*{beforeUpdateId}">Invalid value</p>
				</div>
			</td>

			<th th:for="salesForceContractId">Sales Force 계약 번호</th>
			<td>
				<input th:field="*{salesForceContractId}" required
						class="inputArea" style="width: 100%;" type="text" value="" placeholder="Sales Force 계약 번호">
				<div class="invalid-feedback">
					<p th:if="${#fields.hasErrors('salesForceContractId')}" th:errors="*{salesForceContractId}">Invalid value</p>
				</div>
			</td>
		</tr>
		<tr>
			<th th:for="name">계약명</th>
			<!--<td colspan="5"><input class="inputArea" style="width: 100%;" type="text" value="" placeholder="계약명"></td>-->
			<td colspan="5">
				<input th:field="*{name}" required
						class="inputArea" style="width: 100%;" type="text" value="" placeholder="계약명">
				<div class="invalid-feedback">
					<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid value</p>
				</div>
			</td>
		</tr>
		<tr>
			<th th:if="${isSales}">매출 승인</th>
			<th th:unless="${isSales}">매입 승인</th>
			<td>
				<div class="chkbx">
					<input type="checkbox" th:field="*{isApproved}">
					<label th:for="isApproved">승인</label>
				</div>
			</td>
			<th th:if="${isSales}">매출 갱신</th>
			<th th:unless="${isSales}">매입 갱신</th>
			<td>
				<div class="chkbx">
					<input type="checkbox" th:field="*{isUpdated}">
					<label th:for="isUpdated">승인</label>
				</div>
			</td>
			<td></td>
			<td></td>

		</tr>
		</table>
	</div>
</div>
