<head>
	<title>MEGAZONE CMS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="title" content="MEGAZONE CMS" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,width=device-width">

	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.min.css">

	<script type='text/javascript' src="/js/jquery-3.7.1.min.js"></script>
	<script type='text/javascript' src="/js/jquery-ui.min.js"></script>
	<script type='text/javascript' src="/js/jquery-ui.datepicker.ko.js"></script>
	<script type='text/javascript' src="/js/layout.js"></script>
</head>
